@charset "UTF-8";
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
* {
  font-family: "RobotoRegular";
  /*╤Н╤В╨╛╤В ╤Б╤В╨╕╨╗╤М ╨┐╤А╨╕╨╝╨╡╨╜╨╕╤В╤Б╤П ╨┤╨╗╤П ╨▓╤Б╨╡╤Е ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨╛╨▓*/
  box-sizing: border-box;
  /*╨▒╨╗╨╛╨║ ╨╛╤Б╤В╨░╤С╤В╤Б╤П ╨▓ ╤Б╨▓╨╛╨╕╤Е ╤А╨░╨╖╨╝╨╡╤А╨░╤Е, ╨░ ╨┐╨░╨┤╨┤╨╕╨╜╨│╨╕ ╤А╨░╤Б╤З╨╕╤В╤Л╨▓╨░╤О╤В╤Б╤П ╨▓╨╜╤Г╤В╤А╨╕*/
  margin: 0;
  /*╨╛╨▒╨╜╤Г╨╗╤П╨╡╨╝ ╨╛╤В╤Б╤В╤Г╨┐╤Л, ╤В.╨║. ╨▓ ╤А╨░╨╖╨╜╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨░╤Е ╨╛╨╜╨╕ ╤А╨░╨╖╨╜╤Л╨╡ ╨╕╨╖╨╜╨░╤З╨░╨╗╤М╨╜╨╛.*/
  padding: 0; }

/*  $font-size: 14px;  */
.association .association1, .association .association2, .association .association3, .association .association4 {
  background-position: left;
  background-repeat: no-repeat; }

h2 {
  text-align: center;
  color: #4f81bd;
  padding-top: 6.25rem; }

.body {
  background-color: #fff;
  /*  width: 1000px; */
  width: 62.5rem;
  height: auto;
  margin: 0 auto;
  position: relative;
  /* padding-top: 200px;  */
  padding-top: 12.5rem;
  /*   border: 1px solid red;  */ }

header {
  position: fixed;
  top: 0;
  padding-left: 11.25rem;
  /*  width: 1000px; */
  width: 62.5rem;
  /* padding-top: 40px;  */
  padding-top: 2.5rem;
  /*  height: 107px;  */
  height: 6.69rem;
  background: #fff;
  opacity: 0.9;
  z-index: 10; }

.logo {
  position: absolute;
  /* left: 10px;  */
  left: 0.63rem;
  /*top: 15px;   */
  top: 0.94rem;
  /*  width: 180px;  */
  width: 9.5rem; }
  .logo a img {
    /*    width: 120px;  */
    width: 7.5rem;
    height: auto; }

.top-menu {
  vertical-align: middle;
  list-style-type: none;
  background-color: white;
  text-align: right;
  /* padding-top: 10px;  */
  padding-top: 0.63rem; }
  .top-menu nav a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #4f81bd;
    display: inline-block;
    /*  margin-left: 25px;  */
    margin-left: 1.56rem;
    /*  min-width: 120px;  */
    min-width: 7.5rem;
    text-align: center;
    font-family: "RobotoLight"; }
    .top-menu nav a:hover {
      display: inline-block;
      font-weight: bold;
      color: #365882;
      /*   border-bottom: 2px solid $APCPMColor;  */
      border-bottom: 0.125rem solid #ff0000;
      /*bottom: -1px;*/ }

.big-div {
  margin: 0 auto;
  /* width: 750px;  */
  width: 46.9rem;
  position: relative; }

.text-title {
  width: 60%; }

.img-title {
  width: 40%;
  /*  padding-top: 60px;  */
  padding-top: 3.75rem;
  color: #acadae; }

.small-div {
  display: inline-block;
  position: relative;
  vertical-align: top; }
  .small-div h1 {
    color: #ff0000;
    font-size: 6.275rem; }
  .small-div .add {
    width: 18.75rem;
    height: 3.75rem;
    line-height: 3.63rem;
    text-align: center;
    display: inline-block;
    border: 2px solid #5286c5;
    color: #ff6264;
    text-decoration: none;
    font-size: 1.315rem;
    margin-top: 1.875rem; }
    .small-div .add:hover {
      color: #ff0000; }
  .small-div p {
    display: inline-block;
    font-size: 1.25rem;
    color: #4671a7;
    line-height: 1.88rem; }
    .small-div p.goal {
      font-size: 1.125rem;
      color: #5286c5;
      line-height: 1.88rem;
      margin-top: 3.125rem;
      font-family: "RobotoLight"; }
      .small-div p.goal span {
        color: #ff6264;
        font-size: 1.25rem;
        letter-spacing: -0.019rem;
        line-height: 1.875rem; }
  .small-div img {
    display: inline-block;
    width: 100%; }

/*
.small-div div{
    background-image: url("img/Bitmap.png");
}
*/
.line {
  width: 15.625rem;
  height: 0.0625rem;
  background-color: #ff6264;
  margin: 6.25rem auto 0 auto; }

.target {
  display: block;
  width: 18.875rem;
  height: 3.75rem;
  color: #747474;
  font-size: 0.75rem;
  margin-top: 1.875rem; }

.span {
  color: #ff6264; }

.bitmap img {
  display: inline-block;
  width: 20.5rem;
  height: 12.5rem;
  position: relative;
  left: 3.125rem;
  top: 11.125rem; }

.history {
  color: #ff0000;
  font-size: 16.875rem;
  line-height: 2.5rem;
  letter-spacing: -0.03;
  text-align: center; }

.history_div {
  display: table;
  width: 53.13rem;
  height: 22.5rem;
  /*box-shadow: 0 0 10px #bababa;*/
  box-shadow: 0 0 10px #bababa;
  padding: 3.75rem;
  margin: 3.75rem auto; }

.history_p {
  display: table-cell;
  width: 11.25rem;
  color: #4f81bd;
  font-size: 0.875rem;
  letter-spacing: -0.0125rem;
  position: relative;
  vertical-align: top; }
  .history_p .date1 {
    padding-top: 4.25rem;
    font-weight: bold; }
  .history_p .date2 {
    padding-top: 3.625rem;
    font-weight: bold; }
  .history_p .date3 {
    padding-top: 3.125rem;
    font-weight: bold; }

.history_2p .descr1 {
  padding-top: 4.25rem; }
.history_2p .descr2 {
  padding-top: 1.25rem; }
.history_2p .descr3 {
  padding-top: 3.125rem; }

.img {
  display: table-cell;
  width: 95px;
  background: url("../img/Stetoscope.png") no-repeat;
  position: relative;
  vertical-align: top; }

.red {
  color: #ff0000; }

.history_2p {
  display: table-cell;
  color: #4f81bd;
  font-size: 0.875rem;
  letter-spacing: -0.0125rem;
  position: relative;
  vertical-align: top; }

.karusel {
  width: 56.25rem;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 2.5rem; }
  .karusel a {
    display: inline-block;
    color: #ff6264;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    vertical-align: 50%; }
  .karusel div {
    display: inline-block;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }

.karusel_img img {
  display: inline-block;
  width: 9.125rem;
  height: 6.187rem; }

.founders {
  display: table;
  margin: 3.75rem auto;
  width: 62.5rem; }

.association {
  display: inline-block;
  width: 50%;
  padding: 2.5rem;
  height: 28.13rem;
  /* box-shadow: 0 0 10px #bababa; */
  box-shadow: 0 0 10px #bababa;
  z-index: 2;
  vertical-align: top; }
  .association ul {
    display: inline-block;
    color: #4f81bd;
    letter-spacing: -0.0125rem;
    position: relative;
    list-style: none; }
  .association li {
    display: inline-block;
    padding-left: 4.31rem;
    height: 3.06rem;
    line-height: 3.06rem;
    margin-bottom: 0.94rem;
    font-size: 0.8125rem; }
  .association .association1 {
    background-image: url(../img/logo_association1.png); }
  .association .association2 {
    background-image: url(../img/logo_association2.png); }
  .association .association3 {
    background-image: url(../img/logo_association3.png); }
  .association .association4 {
    background-image: url(../img/logo_association4.png); }

.addition {
  padding-top: 1.56rem; }
  .addition p {
    display: inline-block;
    color: #4f81bd;
    font-size: 0.8125rem;
    letter-spacing: -0.0125rem;
    vertical-align: top; }

.add-text {
  display: inline-block;
  width: 4.31rem;
  color: #ff0000;
  font-size: 0.8098rem;
  vertical-align: top;
  position: relative;
  font-weight: bold; }

/*
.association p:before{
    content: '╨Р ╨в╨Р╨Ъ╨Ц╨Х';
    color: #5fc8c3;
    font-size: 15px;
}
*/
.imagine {
  display: inline-block;
  height: 28.13rem;
  width: 50%;
  background: url("../img/doctors.png") right no-repeat;
  text-align: right;
  z-index: 1; }

.karusel_2 {
  display: table;
  width: 62.5rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 2.5rem;
  /*padding-bottom: 40px;*/ }
  .karusel_2.center {
    width: auto;
    display: block; }
    .karusel_2.center > div {
      display: block;
      width: auto; }
  .karusel_2 > div {
    display: table-cell;
    width: 10.625rem;
    height: auto; }
  .karusel_2 .img2.active, .karusel_2.center .slick-center .img2 {
    width: auto;
    position: relative;
    opacity: 1;
    padding-top: 0; }
  .karusel_2 .img2.active img, .karusel_2.center .slick-center .img2 img {
    width: 9.38rem; }
  .karusel_2 a {
    display: inline-block;
    color: #ff6264;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    vertical-align: 50%; }
  .karusel_2 .down-click, .karusel_2 .next-click {
    position: absolute;
    font-weight: normal; }
  .karusel_2 .down-click {
    left: 0.75rem;
    top: 8.25rem; }
  .karusel_2 .next-click {
    right: 0.75rem;
    top: 8.25rem; }
  .karusel_2 .img2 {
    opacity: 0.7;
    padding-top: 2.5rem; }
    .karusel_2 .img2 img {
      display: inline-block;
      width: 6.25rem;
      height: auto;
      border-radius: 6.9rem;
      /*  display: none;  ------------------------------------*/ }
    .karusel_2 .img2 .job-title {
      padding-top: 0.625rem; }
    .karusel_2 .img2 .republic {
      padding-top: 0.5rem; }

div.img2 p {
  font-size: 0.875rem;
  line-height: 1.19rem;
  letter-spacing: -0.0125rem;
  color: #5285c3;
  font-weight: bold; }
  div.img2 p.name {
    font-size: 0.875rem;
    line-height: 1.19rem;
    letter-spacing: -0.0125rem;
    color: #365882;
    font-weight: bold;
    padding-top: 30px; }
  div.img2 p.republic {
    font-size: -0.125rem;
    line-height: 1.875rem;
    letter-spacing: -0.2px;
    color: #365882;
    font-weight: normal; }
div.active p.name, div.slick-center p.name {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.81rem;
  letter-spacing: -0.0125rem;
  color: #365882;
  padding-top: 1.875rem; }
div.active p.job-title, div.slick-center p.job-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.81rem;
  letter-spacing: -0.0125rem;
  color: #5285c3;
  padding-top: 0.94rem !important; }
div.active p.republic, div.slick-center p.republic {
  font-size: 1rem;
  line-height: 2.81rem;
  letter-spacing: -0.0125rem;
  color: #365882;
  padding-top: 0 !important; }

.big_div {
  width: 37.5rem;
  margin: 0 auto;
  margin-top: 3.75rem; }

.small_div {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: center; }

.small2_div {
  display: inline-block;
  width: 75%;
  vertical-align: top; }

.small_div span {
  font-size: 4rem;
  font-weight: bold;
  color: #365882;
  letter-spacing: -0.031rem;
  position: relative;
  line-height: 3.375rem; }
.small_div .month {
  font-size: 0.875rem;
  font-weight: bold;
  color: #4f81bd;
  letter-spacing: -0.031rem;
  position: relative;
  padding-top: 1.25rem; }
.small_div span.two {
  display: inline-block;
  font-size: 3.875rem;
  font-weight: bold;
  color: #74d0cb;
  letter-spacing: -0.031;
  text-align: center; }

.small2_div p {
  display: inline-block;
  font-size: 0.875rem;
  color: #4f81bd;
  letter-spacing: -0.031rem;
  line-height: 1.25rem;
  vertical-align: top; }
.small2_div address {
  font-size: 0.875rem;
  color: #5285c3;
  letter-spacing: -0.031;
  line-height: 1.25rem;
  font-family: "RobotoLight";
  font-style: normal;
  padding-top: 0.94rem; }

.map {
  width: 62.5rem;
  height: 34.4rem;
  background: url("../img/map.png") no-repeat;
  margin-top: 7.5rem;
  text-align: center; }

.map_div {
  width: 29.4rem;
  /* box-shadow: 0 0 10px #bababa; */
  box-shadow: 0 0 10px #bababa;
  background-color: white;
  padding: 2.19rem 2.5rem;
  margin: 0 auto;
  position: relative;
  text-align: left; }
  .map_div address {
    padding-top: 1.86rem; }
    .map_div address ul {
      list-style: none; }
      .map_div address ul li {
        font-size: 0.812rem;
        color: #4f81bd;
        font-style: normal;
        padding-bottom: 0.625rem; }
        .map_div address ul li:last-child {
          padding-bottom: 0; }
        .map_div address ul li i {
          display: inline-block;
          padding-right: 1.875rem; }

.map h2 {
  color: #4f81bd;
  font-size: 1.75rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: inline-block;
  margin-left: -20.63rem; }

.map_div p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #4f81bd;
  padding-bottom: 0.625rem; }

footer {
  height: 3.125rem;
  line-height: 3.125rem;
  background-color: #4f81bd;
  color: white;
  text-align: right;
  padding-right: 4.38rem; }
  footer p {
    font-size: 0.875rem; }

a {
  outline: none;
  /*╨╛╨┤╨╜╨╛╨▓╤А╨╡╨╝╨╡╨╜╨╜╨╛ ╤Г╤Б╤В╨░╨╜╨░╨▓╨╗╨╕╨▓╨░╨╡╤В ╤Ж╨▓╨╡╤В, ╤Б╤В╨╕╨╗╤М ╨╕ ╤В╨╛╨╗╤Й╨╕╨╜╤Г ╨▓╨╜╨╡╤И╨╜╨╡╨╣ ╨│╤А╨░╨╜╨╕╤Ж╤Л ╨╜╨░ ╨▓╤Б╨╡╤Е ╤З╨╡╤В╤Л╤А╨╡╤Е ╤Б╤В╨╛╤А╨╛╨╜╨░╤Е ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨░.*/ }

div#wrap {
  display: block;
  width: 41.31rem;
  height: 8rem;
  margin: 3.125rem auto; }

a.gallery2 img {
  border: 0.0625rem solid #CCC;
  padding: 0.125rem;
  margin: 0.625rem 0.31rem 10.625rem 0; }

div#fancy_loading ~ div#fancy_outer {
  z-index: 41; }

/*# sourceMappingURL=style.css.map */
